/* font */
@font-face {
    font-family: "Iran Sans";
    src: url("./fonts/iran-sans.ttf");
}

@font-face {
    font-family: "Iran Nast";
    src: url("./fonts/IranNastaliq.ttf");
}

@font-face {
    font-family: "Mirza";
    src: url("./fonts/Mirza.ttf");
}

/* all */
* {
    /* reset sizing */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* move to right */
    direction: rtl;
    
    /* font */
    font-family: "Mirza", serif;
    font-size: 1.03em;
}

body {
    min-height: 790px;
    height: 100%;
    background-image: url("images/bg.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
