/* font */
@font-face {
    font-family: "Iran Sans";
    src: url("./fonts/iran-sans.ttf");
}

/* all */
* {
    /* reset sizing */
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* move to right */
    direction: rtl;
    
    /* font */
    font-family: "Iran Sans", serif;
}
